.checkbox
{
/*
  appearance: none;
  width: 30px;
  height: 30px;
*/
}

.checkbox:before
{
/*
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;

  cursor: pointer;
  user-select: none;

  background-color: #ffffff;
  border: 1px solid #BCE0FD;
  border-radius: 15px;
  box-sizing: border-box;

  transition: 200ms border-color, background-color;
*/
}

.checkbox:checked:before
{
/*
  background-color: #389fed;
  background-image: url('../../img/check.svg');
  background-size: contain;
*/
}

.checkbox:focus
{
/*
  border-color: #389FED;
  outline: none;
*/
}
